<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://unpkg.com/mvp.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Python is So Easy</h1>
    </header>
    <center>
      <form id="search_form" action="/search">
        <input
          type="search"
          placeholder="내용을 입력하세요"
          id="search_input"
          name="q"
        />
        <button type="submit">등록</button>
      </form>
    </center>
  </header>
  <main>
    hello world
    {{keyword}}
  </main>
  </body>
</html>